
<div id="dashboard-toolbar">
    <div class="businessQuickSearch">
        <h4>QUICK SEARCH:</h4>
        <button ng-click="query='Airports'">AIRPORTS</button>
        <button ng-click="query='Avionics'">AVIONICS</button>
        <button ng-click="query='Aircraft Sales'">AIRCRAFT SALES</button>
        <button ng-click="query='Parts'">PARTS</button>
        <button ng-click="query='Destinations'">DESTINATIONS</button>
        <button ng-click="query='Propeller'">PROPELLER</button>
        <button ng-click="query='Government'">GOVERNMENT</button>
        <button ng-click="query='Mueseums'">MUSEUMS</button>

    </div>

    <h4>FEATURED MEMBERS</h4>

</div>
