<ng-form name="Registration_form" class="validation-form" novalidate>
    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.FirstName.$invalid,  'has-success' : (Registration_form.FirstName.$valid)}">
        <label>First Name</label>
        <input name="FirstName" required ng-minlength="3" class="form-control text-box single-line" ng-model="Registration.Person.FirstName" type="text">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.FirstName.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.FirstName.$invalid && Registration_form.submitted"><strong>!</strong></span>
    </div>
    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.LastName.$invalid,  'has-success' : (Registration_form.LastName.$valid)}">
        <label>CLast Name</label>
        <input name="LastName" required ng-minlength="3" class="form-control text-box single-line" ng-model="Registration.Person.LastName" type="text">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.LastName.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.LastName.$invalid && Registration_form.submitted"><strong>!</strong></span>
    </div>
    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.EmailAddress.$invalid,  'has-success' : (Registration_form.EmailAddress.$valid)}">
        <label>Email Address</label>
        <input name="EmailAddress" required ng-minlength="2" class="form-control text-box single-line" ng-model="Registration.ContactInfo.EmailAddress" type="text">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.EmailAddress.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.EmailAddress.$invalid && Registration_form.submitted"><strong>!</strong></span>
    </div>
    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.Address1.$invalid,  'has-success' : (Registration_form.Address1.$valid)}">
        <label>Street Address</label>
        <input name="Address1" required ng-minlength="2" class="form-control text-box single-line" ng-model="Registration.Address.Address1" type="text">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.Address1.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.Address1.$invalid && Registration_form.submitted"><strong>!</strong></span>
        <input class="form-control text-box single-line" ng-model="Registration.Address.Address2" type="text">
    </div>

    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.City.$invalid,  'has-success' : (Registration_form.City.$valid)}">
        <label>City</label>
        <input name="City" class="form-control text-box single-line" required ng-model="Registration.Address.City" type="text">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.City.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.City.$invalid && Registration_form.submitted"><strong>!</strong></span>
    </div>

    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.State.$invalid,  'has-success' : (Registration_form.State.$valid)}">
        <label>State</label>
        <select name="State" class="form-control" ng-model="Registration.Address.State" required ng-options="state.Code as state.Code for state in Registration.States"></select>
        @*<span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
            <span class="form-control-feedback" ng-cloak ng-show="Registration_form.State.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
            <span class="form-control-feedback" ng-cloak ng-show="Registration_form.State.$invalid && Registration_form.submitted"><strong>!</strong></span>*@
    </div>

    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.ZipCode.$invalid,  'has-success' : (Registration_form.ZipCode.$valid)}">
        <label>Zip Code</label>
        <input name="ZipCode" class="form-control text-box single-line" required ng-model="Registration.Address.ZipCode" type="text" ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.ZipCode.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.ZipCode.$invalid && Registration_form.submitted"><strong>!</strong></span>
    </div>

    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.Country.$invalid,  'has-success' : (Registration_form.Country.$valid)}">
        <label>Country</label>
        <select name="Country" class="form-control" ng-model="Registration.Address.Country" ng-options="v for v in Countries"></select>
    </div>
    <div class="form-group has-feedback validation-group" ng-class="{ 'has-error' : Registration_form.OfficeNumber.$invalid,  'has-success' : (Registration_form.OfficeNumber.$valid)}">
        <label>Phone</label>
        <input name="OfficeNumber" class="form-control text-box single-line" required ng-model="Registration.ContactInfo.OfficeNumber" placeholder="(555) 555-5555" type="text" ng-pattern="/^(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/">
        <span class="form-control-feedback" ng-cloak ng-show="!Registration_form.submitted"><strong>*</strong></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.OfficeNumber.$valid  && Registration_form.submitted"><i class="glyphicon glyphicon-ok"></i></span>
        <span class="form-control-feedback" ng-cloak ng-show="Registration_form.OfficeNumber.$invalid && Registration_form.submitted"><strong>!</strong></span>
    </div>



</ng-form>
