
@{

    
}

this is a test

<div class="section">
    <h2 class="align_center bottom_margin">“Our team is loving Slack. I’m very excited about it.”</h2>
    <p class="align_center"><strong>Andy Yaco-Mink</strong>, Director of Engineering, <a href="http://www.buzzfeed.com/" target="new"><strong>BuzzFeed</strong></a></p>
</div>