
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WAA Admin</title>
</head>
<body>
    <div> 
        <h1>Manage Business Members</h1>
        <ul>
            <li>@Html.ActionLink("List Businesses", "ListBusinesses", "Admin", new { area = "WAA" }, null)</li>
            <li>@Html.ActionLink("Create Businesses Member", "AdminCreateBusiness", "Admin", new { area = "WAA" }, null)</li>
        </ul>
        <br />
        <br/>
        <h1>Manage Individual Members</h1>
        <ul>
            <li>@Html.ActionLink("List Members", "ListMembers", "Admin", new { area = "WAA" }, null)</li>
            <li>@Html.ActionLink("Create Individual Member", "AdminCreateMember", "Admin", new { area = "WAA" }, null)</li>
        </ul>

    </div>
</body>
</html>
